{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Statistiques</h1>
        <div class="d-flex justify-content-start mb-4">
            <button class="btn btn-primary" onclick="location.href='?month={{ previousMonth }}';"><i class="fas fa-angle-left"></i></button>
            <input value="{{ month }}" type="month" />
            <button class="btn btn-primary" onclick="location.href='?month={{ nextMonth }}';"><i class="fas fa-angle-right"></i></button>
        </div>
        <div class="accordion list-group mb-4 shadow" id="accordionStats">
            <li class="list-group-item">
                <div id="headingOne">
                    <button class="btn btn-block d-flex w-100 justify-content-between" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Temps de travail en télétravail ou présentiel / salarié
                    </button>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionStats">
                    {% if stat1|length > 2 %}
                        <canvas id="st1" height="40vh" width="80vw" data-stat="{{ stat1 }}"></canvas>
                    {% else %}
                        <p class="text-muted">Pas de données pour le moment</p>
                    {% endif %}
                </div>
            </li>
            <li class="list-group-item">
                <div id="headingTwo">
                    <button class="btn btn-block d-flex w-100 justify-content-between" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Temps de travail en présentiel ou télétravail / salarié cadre ou non
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionStats">
                    {% if stat2|length > 2 %}
                        <canvas id="st2" height="40vh" width="80vw" data-stat="{{ stat2 }}"></canvas>
                    {% else %}
                        <p class="text-muted">Pas de données pour le moment</p>
                    {% endif %}
                </div>
            </li>
            <li class="list-group-item">
                <div id="headingTwo">
                    <button class="btn btn-block d-flex w-100 justify-content-between" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        {{ stat3.titre }}
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionStats">
                    {% if stat3|length > 1 %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                {% for tcateg in tcategs %}
                                <th scope="col">{{ tcateg.name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for user, heureCategs in stat3['data'] %}
                            <tr>
                                <th scope="row">{{ user }}</th>
                                {% for tcateg in tcategs %}
                                    <td>{{ heureCategs[tcateg.id] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-muted">Pas de données pour le moment</p>
                    {% endif %}
                </div>
            </li>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('stats') }}
{% endblock %}
