{{ form_start(form) }}
<div class="row">
    <div class="col-md-12 mb-3">
        {{ form_row(form.name) }}
    </div>
</div>
{{ form_rest(form) }}
<div class="d-flex justify-content-between">
    <a href="{{ path('job.index') }}" class="btn btn-secondary">Retour</a>
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
