{% extends 'base.html.twig' %}

{% block title %}Emplois{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h4 mb-2">Emplois</h1>
        {{ include('pages/_partials/messages.html.twig') }}
        <table class="table table-striped table-borderless bg-white shadow rounded">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.name }}</td>
                    <td>
                        <a href="{{ path('job.edit', {'id': job.id}) }}" class="btn btn-secondary"><i
                                    class="fas fa-edit"></i></a>
                        <form method="POST" action="{{ path('job.delete', {id: job.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Êtes-vous sûr de supprimer cet emploi ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun Emploi</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <a href="{{ path('job.new') }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            {{ include('pages/_partials/pagination.html.twig') }}
        </div>
    </div>
{% endblock %}

