{% extends 'base.html.twig' %}

{% block title %}Gestion des Emplois{% endblock %}

{% block body %}
  <div class="container">
    <h1>Gestion des Emplois</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                   <td>
                        <a href="{{ path('job.edit', {'id': job.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="POST" action="{{ path('job.delete', {id: job.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de supprimer cet emplois ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun Emplois</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job.new') }}" class="btn btn-primary">Create new</a>
    </div>
{% endblock %}

