{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container mt-4 pt-4">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 class="text-capitalize">{{ user.firstname }} {{ user.lastname }}</h4>
                                <p class="text-secondary mb-1">{{ user.job.name }}{% if user.isExecutive %} - Cadre{% endif %}{% if user.isAdmin %} - Admin{% endif %}{% if user.isPsychologist %} - Psychologue{% endif %}</p>
                                <a href="{{ path('user.profile.edit') }}"><i class="fas fa-edit"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 font-weight-bold">E-mail</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 font-weight-bold">Téléphone</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.phone }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 font-weight-bold">Date d'anniversaire</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.birthDate|date('d/m/Y') }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 font-weight-bold">Date d'embauche</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.hiringDate|date('d/m/Y') }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 font-weight-bold">Mot de passe</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                ************
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <p class="font-weight-bold">Statistiques</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-secondary font-weight-bold">Temps passé par catégorie de tâche</p>
                                {% if stat3|length > 0 %}
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            {% for tcateg in tcategs %}
                                                <th scope="col">{{ tcateg.name }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user, heureCategs in stat3['data'] %}
                                            <tr>
                                                {% for tcateg in tcategs %}
                                                    <td>{{ heureCategs[tcateg.id] }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p class="text-muted">Pas de données pour le moment</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
