{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des utilisateurs</h1>
        {{ include('pages/_partials/messages.html.twig') }}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>E-mail</th>
                <th>Téléphone</th>
                <th>Emplois</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.job.name }}</td>
                    <td>
                        <a href="{{ path('user.edit', {'id': user.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="POST" action="{{ path('user.delete', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de supprimer cet utilisateur ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun utilisateur</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('user.new') }}" class="btn btn-primary">Créer</a>
    </div>
{% endblock %}
