{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-2">
                <div class="dropdown mb-4">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButtonWorkTimes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i> Créer</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonWorkTimes">
                        <a class="dropdown-item" href="{{ path('workTime.new') }}">Période</a>
                        <a class="dropdown-item" href="{{ path('task.new') }}">Tâche</a>
                    </div>
                </div>
                <div class="accordion list-group mb-4" id="accordionCaption">
                    <li class="list-group-item">
                        <div id="headingOne">
                            <button class="btn btn-block d-flex w-100 justify-content-between" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="mb-1"><i class="far fa-calendar"></i> Périodes</h5>
                                <span class="badge badge-primary badge-pill">2</span>
                            </button>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionCaption">
                            <p class="caption-item"><div class="item-badge" style="background-color: #B7D8BA;"></div>Présentiel</p>
                            <p class="caption-item"><div class="item-badge" style="background-color: #B5BBFF;"></div>Télétravail</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div id="headingTwo">
                            <button class="btn btn-block d-flex w-100 justify-content-between" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <h5 class="mb-1"><i class="fas fa-tasks"></i> Catégories</h5>
                                <span class="badge badge-primary badge-pill">{{ taskCategories|length }}</span>
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCaption">
                            {% for taskCategory in taskCategories %}
                                <p class="planning-caption-item"><div class="item-badge" style="background-color: {{ taskCategory.color }};"></div>{{ taskCategory.name }}</p>
                            {% endfor %}
                        </div>
                    </li>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButtonTasks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i> Gérer</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonTasks">
                        <a class="dropdown-item" href="{{ path('workTime.index') }}">Périodes</a>
                        <a class="dropdown-item" href="{{ path('task.index') }}">Tâches</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div id="calendar-holder" data-src-url="{{ path('fc_load_events') }}"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('planning') }}
{% endblock %}