<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Covidia - {% block title %}{% endblock %}</title>
    <link rel="icon" href="favicon.ico"/>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">Covidia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('planning.index') }}">Planning</a>
            </li>
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                        <a class="dropdown-item" href="{{ path('user.index') }}">Utilisateurs</a>
                        <a class="dropdown-item" href="{{ path('job.index') }}">Emplois</a>
                        <a class="dropdown-item" href="{{ path('task_category.index') }}">Type de tâches</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('sos.index') }}" class="nav-link">SOS</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
