{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4 mb-3">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-md-4 mb-3">
            {{ form_row(form.prenom) }}
        </div>
        <div class="col-md-4 mb-3">
            {{ form_row(form.motDePasse) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            {{ form_row(form.dateNaissance) }}
        </div>
        <div class="col-md-4 mb-3">
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-4 mb-3">
            {{ form_row(form.telephone) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.dateEmbauche) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.estCadre) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
