{{ form_start(form) }}
<div class="bg-white shadow-sm rounded px-4 pt-4 mb-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            {{ form_row(form.workTime) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            {{ form_row(form.dateTimeStart) }}
        </div>
        <div class="col-md-4 mb-3">
            {{ form_row(form.dateTimeEnd) }}
        </div>
        <div class="col-md-4 mb-3">
            {{ form_row(form.taskCategory) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            {{ form_row(form.comment) }}
        </div>
    </div>
</div>
{{ form_rest(form) }}
<div class="d-flex justify-content-between">
    <a href="{{ path('task.index') }}" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left"></i></a>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
