{% extends 'base.html.twig' %}

{% block title %}Gestion des tâches{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des tâches</h1>
        {{ include('pages/_partials/messages.html.twig') }}
        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.dateTimeStart|date('d/m/Y H:i') }}</td>
                    <td>{{ task.dateTimeEnd|date('d/m/Y H:i') }}</td>
                    <td>{{ task.comment }}</td>
                    <td>
                        <a href="{{ path('task.edit', {'id': task.id}) }}" class="btn btn-secondary">Editer</a>
                        {{ include('pages/planning/task/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune tâche</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <a href="{{ path('planning.index') }}" class="btn btn-secondary">Retour</a>
            <a href="{{ path('task.new') }}" class="btn btn-primary">Créer</a>
        </div>
    </div>
{% endblock %}
