{% extends 'base.html.twig' %}

{% block title %}Tâches{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h4 mb-2">Tâches</h1>
        {{ include('pages/_partials/messages.html.twig') }}
        <table class="table table-striped table-borderless bg-white shadow rounded">
            <thead>
            <tr>
                <th>Id</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.dateTimeStart|date('d/m/Y H:i') }}</td>
                    <td>{{ task.dateTimeEnd|date('d/m/Y H:i') }}</td>
                    <td>{{ task.comment }}</td>
                    <td>
                        <a href="{{ path('task.edit', {'id': task.id}) }}" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                        {{ include('pages/planning/task/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune tâche</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <a href="{{ path('planning.index') }}" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left"></i></a>
            {{ include('pages/_partials/pagination.html.twig') }}
            <a href="{{ path('task.new') }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
        </div>
    </div>
{% endblock %}
